@model IEnumerable<HU_HDP.Models.ActionResearch>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActionResearchTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActionResearchTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcademicYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trainee.TraineeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ActionResearchId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ActionResearchId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ActionResearchId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
