@model HU_HDP.Models.TraineeAssignment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TraineeAssignment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trainee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trainee.TraineeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Center)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Center.CenterId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TraineeAssignmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
